{
  "nginx": {
    "version": "1.8.0",
    "install_method": "source",
    "default_site_enabled": false,
    "source": {
      "modules": [
        "nginx::http_gzip_static_module",
        "nginx::http_spdy_module",
        "nginx::http_realip_module"
      ],
      "checksum": "23cca1239990c818d8f6da118320c4979aadf5386deda691b1b7c2c96b9df3d5"
    },
    "server_tokens": "off"
  },
  "git": {
    "version": "2.4.2",
    "url": "https://www.kernel.org/pub/software/scm/git/git-2.4.2.tar.gz",
    "checksum": "8edd564051fb776a41b4c475ed2d6105de82b674b8903a9efafe8a0633e4876e"
  },
  "redisio": {
    "version": "3.0.2"
  },
  "postgresql": {
    "version": "9.4",
    "password": {
      "postgres": "100cf32c205cbe9f41af3c738d12a4ee"
    },
    "server": {
      "packages": ["postgresql-9.4", "postgresql-server-dev-9.4", "libpq-dev"]
    },
    "enable_pgdg_apt": true,
    "dir": "/etc/postgresql/9.4/main",
    "config": {
      "data_directory": "/var/lib/postgresql/9.4/main",
      "hba_file": "/etc/postgresql/9.4/main/pg_hba.conf",
      "ident_file": "/etc/postgresql/9.4/main/pg_ident.conf",
      "external_pid_file": "/var/run/postgresql/9.4-main.pid",
      "listen_addresses": "127.0.0.1",
      "port": 5432
    }
  },
  "beanstalkd": {
    "start_during_boot": true,
    "opts": {
      "l": "127.0.0.1",
      "p": 11300
    }
  },
  "rbenv": {
    "group_users": ["vagrant", "root"]
  },
  "themis": {
    "user": "vagrant",
    "group": "vagrant",
    "log_level": "DEBUG",
    "stdout_sync": "true",
    "queue": {
      "processes": 2
    },
    "backend": {
      "processes": 2
    }
  },
  "sample-checker-rb": {
    "service": "service_1",
    "user": "vagrant",
    "group": "vagrant",
    "log_level": "DEBUG",
    "stdout_sync": "true",
    "processes": 2
  },
  "sample-checker-py":{
    "service": "service_2",
    "user": "vagrant",
    "group": "vagrant",
    "log_level": "DEBUG",
    "processes": 2
  },
  "python": {
  },
  "nodejs": {
    "version": "0.12.7",
    "binary": {
      "checksum": {
        "linux_x64": "6a2b3077f293d17e2a1e6dba0297f761c9e981c255a2c82f329d4173acf9b9d5"
      }
    }
  },
  "ntp": {
    "servers": [
      "0.pool.ntp.org",
      "1.pool.ntp.org",
      "2.pool.ntp.org",
      "3.pool.ntp.org"
    ]
  },
  "run_list": [
    "recipe[nginx::source]",
    "recipe[git::source]",
    "recipe[redisio]",
    "recipe[redisio::enable]",
    "recipe[postgresql::server]",
    "recipe[beanstalkd]",
    "recipe[rbenv::default]",
    "recipe[rbenv::ruby_build]",
    "recipe[nodejs::nodejs_from_binary]",
    "recipe[database::postgresql]",
    "recipe[python::default]",
    "recipe[python::pip]",
    "recipe[python::virtualenv]",
    "recipe[ntp::default]",
    "recipe[themis]",
    "recipe[sample-checker-rb]",
    "recipe[sample-checker-py]"
  ]
}